.book-appointment-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 10px;
      color:#269ea2 ;
    }
  
    .calendar-container {
      margin-bottom: 15px;
    }
  
    .time-slot-selection {
  
      margin-bottom: 15px;
  
      label {
       
        margin-right: 10px;
      }
  
      select {
        flex: 2;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    button {
      background-color: #269ea2;
      color: #fff;
      padding: 10px 20px;
      
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #063f41;
      }
  
      &[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  /* BookAppointment.scss */

/* Style the calendar dates */
.react-calendar {
  .react-calendar__tile {
    background-color: #269ea2; /* Blue background color for dates */
    color: #ffffff; /* White text color for dates */
    border: 1px solid #063f41; /* Blue border for dates */
    
  }

  /* Style the selected date */
  .react-calendar__tile--active {

    background-color: #21d93f; /* Red background color for selected date */
    color: #ffffff; /* White text color for selected date */
  }

  /* Style the disabled dates */
  .react-calendar__tile--disabled {
    background-color: #bdc3c7; /* Gray background color for disabled dates */
    color: #95a5a6; /* Light gray text color for disabled dates */
  }
}
