.Home{
    height: fit-content;
    min-width: 350px;
    min-height: 100vh;
    background-image: url('../../assets/background_home4.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    .description{
        color: black;
        width: 30vw;
        min-width: 300px;
        margin: 0% 10vw;
        padding-top:10rem;
        .title{
            font-size: 3rem;
            font-weight: 600;
        }
        button{
            background-color: rgb(12, 128, 243);
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-family: 'Jost';
            font-weight: 500;
            border-radius: 2px;
            letter-spacing: .06rem;
            color: white;
            margin: 3rem 0rem;
        }
        button:hover{
            cursor: pointer;
        }
    }
}