.navbar{
    background-color: #ffff;
     ul {
         list-style: none;
         display: flex;
         justify-content:flex-end;
         word-break: keep-all;    
         li{
             margin: 0rem 2rem;
             padding: .5rem 0rem;
             color: black;
             transition: .3s;
             cursor: pointer;
             font-family:sans-serif, 'Jost';
             font-weight: 500;
             letter-spacing: .05em;
                       
        }
        li:after {
         content: '';
         display: block;
         margin: auto;
         margin-top: 5px;
         height: 1.5px;
         cursor: pointer;
         width: 0px;
         background: transparent;
         transition: width .5s ease, background-color .5s ease;
       }
       li:hover:after {
         width: 100%;
         background: #2371ee;
         cursor: pointer;
       }
     }
 }