.lab {
    background-image: url("https://img.freepik.com/free-vector/college-entrance-exam-concept-illustration_114360-10502.jpg?w=2000");
    width: 100%;
    height: 100vh;
    backface-visibility: 0.5;
    background-size: cover;


    .container {
        max-width: 100%;
        padding: 20px;
        display: flex;
        opacity: 0.9;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page {

            background-color: #f8f8f8;
            padding: 20px;
            width: 50%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
            
            .loader{
                
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            display: flex;
            flex-direction: column;

            .fieldd {


                display: flex;
                padding: 0px 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;


                input {

                    padding: 5px;
                    margin-left: 10px;
                    border: 2px solid #ccc;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    font-size: 16px;



                    &:focus {
                        outline: none;
                        border-color: #007bff;
                    }

                    @media screen and (max-width: 900px) {

                        width: 80%;

                    }
                }

                @media screen and (max-width: 900px) {

                    flex-direction: column;

                }
            }

            button {
                width: 200px;
                border-radius: 20%;
                padding: 8px 10px;
                align-self: center;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #0056b3;
                }

                @media screen and (max-width: 900px) {

                    width: 80%;

                }
            }


        }


    }
}