.generate-otp-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 20px;
      color: #269ea2;
    }
  
    .otp-controls {
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
          background-color: #063f41;
        }
      }
      
  
      p {
        margin-top: 10px;
        color: #0f6341;
        font-size:20px;
      }
    }
  
    .otp-input {
      display: flex;
      margin-top: 10px;
  
      input {
        padding: 0.25rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        flex: 1;
      }
  
      button {
        background-color:#269ea2;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
        &:hover {
          background-color: #063f41;
        }
      }
    }
  
    .otp-status {
      margin-top: 10px;
      font-weight: bold;
  
      .success {
        color: #28a745;
      }
  
      .error {
        color: #dc3545;
      }
    }
  }
  