.hospital-form-register{
  background-image: url('../../assets/bg_form.jpg');
  
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
align-items: center;
  justify-content: center;

.hospital-container {
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #269ea2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="password"],
    textarea {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 5px;
      font-size: 14px;
      padding-right: 20px;
    }
  
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 5px;
      font-size: 14px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    .selected-treatments {
      margin-top: 20px;
  
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
  
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          margin-left: 10px;
  
          &:hover {
            color: #269ea2; 
          }
        }
      }
  
      i.fas {
        margin-right: 5px;
        color: #c51313;
      }
    }
  
    button[type="button"] {
      padding: 10px 20px;
      background-color: #269ea2; 
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin-top: 10px;
      &:hover{
        background-color: #063f41;
      }
  
     
    }
  

    
  
    
    .submit-button
    {
      margin-top: 10%;
      float:right; 
      button{
        font-size: 20px;
        border: none;
        color: #fff;
        min-height:fit-content;
        padding: 10px 20px;
        border-radius: 10%;
      background-color: #269ea2;

      &:hover{
        background-color: #063f41;
      }
    }
    }
    
  }
  
  .specialist-doctors {
    margin-top: 20px;
  
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
  
      input {
        flex: 1;
        margin-right: 10px;
      }
  
   .delete-button {
      border: none;
      color: #c51313;
      cursor: pointer;
      background-color: transparent;
      font-size: 14px;
      &:hover {
        background-color: #063f41;
      }
    }

    }
 
    
  }
  
  
}