.login-main-container{
  background-image: url('../../Assets/bg_form.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
align-items: center;
  justify-content: center;
  
.login-form-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f0f0f040, #e0e0e0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #269ea2;
    text-align: center;
  }

  .input-container {
    margin-bottom: 20px;
    width: 100%;
    .form-icon{
      color:#063f41;
    }

    label {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
      color: #d2cccc;
    }

    input {
      width: 80%;
      margin-left: 10px;
      padding: 12px;
      border: none;
      border-radius: 30px;
      border-bottom: 2px solid #ccc;
      font-size: 16px;
      color: #333;
      background-color: rgba(216, 216, 216, 0.445); /* Make the input transparent */
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color:#269ea2;
      }
    }
  }

  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #269ea2;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #063f41;
    }
  }
}
}
